<!DOCTYPE html>
<html lang="en">

	<head>

		<title>{{ page.title }}</title>

		<link rel="canonical" href="https://calebjolliffe.co">
		<link rel="icon" href="/assets/images/clbrrn.svg" type="image/svg+xml">
		<link rel="stylesheet" href="/assets/style.css" type="text/css">
		<link rel="stylesheet" href="/assets/grid.css" type="text/css">
		<link rel="alternate" href="/assets/feed.xml" type="application/atom+rss" title="Caleb Jolliffe">
		<link rel="alternate" href="/assets/feed.json" type="application/feed+json" title="Caleb Jolliffe">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="An independent designer building ridiculously simple Internet tools.">
		<meta name="author" content="Caleb Jolliffe">

		<meta name="og:site_name" content="Caleb Jolliffe">
		<meta name="og:url" content="https://calebjolliffe.co">
		<meta name="og:description" content="An independent designer building ridiculously simple Internet tools.">
		<meta name="og:image" content="/assets/images/index.png">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content="/assets/images/index.png">
		<meta name="twitter:site" content="@calebjolliffe">
		<meta name="twitter:creator" content="@calebjolliffe">
		<meta name="twitter:title" content="Caleb Jolliffe">
		<meta name="twitter:description" content="An independent designer building ridiculously simple Internet tools.">

	</head>

	<body>

		<r-grid columns=3>

			<r-cell span=2+1>

				<r-grid columns=2>

					<r-cell span=1>
						<a href="https://calebjolliffe.co">Caleb Jolliffe</a>
					</r-cell>

					<r-cell span=1 style="text-align:right;">
						<a href="https://digitalbeacon.co/report/calebjolliffe-co" target="_blank">CO2: 0.000g</a>
					</r-cell>

				</r-grid>

				<r-cell span=row></r-cell>

				{{ content }}

				<r-cell span=2+1 class="bottom">
					<hr>
					<a href="">RSS</a>&nbsp;&nbsp;<a href="mailto:calebjolliffe@proton.me">Mail</a>&nbsp;&nbsp;<a href="https://x.com/calebjolliffe">X</a>
				</r-cell>
				
		</r-grid>

	</body>

</html>
