<!DOCTYPE html>
<html lang="en">

	<head>

		<title>{{ page.title }}</title>

		<link rel="canonical" href="https://calebjolliffe.co">
		<link rel="icon" href="https://calebjolliffe.co/assets/images/clbrrn.svg" type="image/svg+xml">
		<link rel="stylesheet" href="https://calebjolliffe.co/assets/style.css" type="text/css">
		<link rel="alternate" href="https://calebjolliffe.co/assets/feed.xml" type="application/atom+rss" title="Caleb Jolliffe">
		<link rel="alternate" href="https://calebjolliffe.co/assets/feed.json" type="application/feed+json" title="Caleb Jolliffe">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="An independent designer building ridiculously simple workflows and websites.">
		<meta name="author" content="Caleb Jolliffe">

		<meta name="og:site_name" content="Caleb Jolliffe">
		<meta name="og:url" content="https://calebjolliffe.co">
		<meta name="og:title" content="Caleb Jolliffe">
		<meta name="og:description" content="An independent designer building ridiculously simple workflows and websites.">
		<meta name="og:image" content="https://calebjolliffe.co/assets/images/index.png">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content="https://calebjolliffe.co/assets/images/index.png">
		<meta name="twitter:site" content="@calebjolliffe">
		<meta name="twitter:creator" content="@calebjolliffe">
		<meta name="twitter:title" content="Caleb Jolliffe">
		<meta name="twitter:description" content="An independent designer building ridiculously simple workflows and websites.">

	</head>

	<body>

		<a href="https://beta.calebjolliffe.co">Caleb Jolliffe</a>

		{{ content }}

	</body>

</html>
