---
layout: post
title: Email, Minimized
author: Caleb Jolliffe
stamp: 02 · 24
permalink: /email/
imagecard: email.png
handle: calebjolliffe
xdesc: Email is one of the greatest sources of anxiety in my daily work. For years, I assumed my anxiety stemmed from "too many emails". It doesn't. The typical email client UI is visually chaotic at best—I was avoiding the UI, not the emails. Could I change that?
---

<r-cell span=2+1 class="section">
    <h2>Email
        <br>
        10 February 2024 | 2 minute read
    <hr></h2>
</r-cell>

<r-cell span=2+1>
    <blockquote>
        This is a follow-up to <a href="https://manuelmoreale.com/emails">Manu's</a> and <a href="https://carlbarenbrug.com/minimal-email-setup">Carl's</a> articles on creating a minimal email setup. In this, I'll talk about my personal experiences and share my own setup.
    </blockquote>

    <p>
        Email is one of the greatest sources of anxiety in my daily work. For years, I assumed my anxiety stemmed from "too many emails". It doesn't. The typical email client UI is visually chaotic at best—I was avoiding the UI, not the emails. Could I change that?
    </p>

    <p>
        Like Manu and Carl, I'm using Apple's native Mail app. I don't receive a high volume of emails, and I prefer my inboxes stay organized. I aim to end each week by hitting Inbox 0. If this isn't you, you likely won't find value in this setup.
    </p>

    <h3>The Inbox<hr></h3>

    <p>
        I prefer my inboxes empty. The less that's in my inbox, the less actions on my plate. My setup pairs Manu's excellent tutorial with Carl's brutalism, then adds my own spin.
    </p>

    <img src="/assets/images/inbox.png">

    <p>
        Emails received and composed are simple: there is nothing unnecessary. I enjoy the simplicity of seeing only a sender's name and subject line. I write all my emails in plaintext and I don't use email signatures unless required by a client. I don't often give out my email, so it's safe to assume those in my inbox already had access to me elsewhere. They don't need a link to my X in every email.
    </p>

    <p>
        For the top bar buttons, I'm currently using Carl's setup. This will likely change, as I don't use the buttons often. I may end up using Manu's no-button setup.
    </p>

    <p>
        That's my minimalist email setup. Consider showing Carl and Manu some love, my setup would not exist without their setups. If you found value in this, you might like my writing about using plaintext and Markdown, linked below.
    </p>
</r-cell>

<r-cell span=2+1 class="section">
    <h2>Recommended reading:<br></h2>
</r-cell>

<r-cell span=2+1 class="list">
    <ul>
        <li><a href="https://carlbarenbrug.com/minimal-email-setup">Carl Barenbrug, Minimal Email Setup (2 minute read)</a></li>
        <li><a href="https://manuelmoreale.com/emails">Manuel Moreale, Minimal Email Setup (4 minute read)</a></li>
        <li><a href="/filetype/">Caleb Jolliffe, Filetype (2 minute read)</a></li>
    </ul>
</r-cell>